#
# Project specific excludes
#

tomcat

#
# Default excludes
#

# Binaries
.jar
.ear
.war
*.class

# Maven 
target/



# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nb-gradle/

.jacocoverage/
UnittestenTime/nbproject/private/private.xml
*.properties
OnlineSchaken/nbproject/private/private.xml
/OnlineSchaken/nbproject/private/
OnlineSchaken/.sonar/report-task.txt
OnlineSchaken/nbproject/build-impl.xml
OnlineSchaken/nbproject/genfiles.properties
OnlineSchaken/nbproject/jfx-impl.xml
OnlineSchaken/nbproject/UPDATED.TXT
OnlineSchaken/nbproject/jfx-impl_backup.xml
OnlineSchaken/nbproject/jfx-impl_backup.xml
OnlineSchaken/nbproject/jfx-impl_backup.xml
OnlineSchaken/nbproject/jfx-impl.xml
OnlineSchaken/nbproject/jfx-impl_backup_2.xml
OnlineSchaken/nbproject/jfx-impl.xml
OnlineSchaken/nbproject/jfx-impl_backup_3.xml
*.xml
OnlineSchaken/nbproject/jfx-impl.xml